@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row shadow round">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExample" class="carousel slide ">
            <div class="carousel-inner">
                <div class="carousel-item h-100 active">
                    <img src="Images/1.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="carousel-item h-100">
                    <img src="/Images/2.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="carousel-item h-100">
                    <img src="/Images/3.jpg" class="d-block w-100 h-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>Get the Best <span class="text-success fst-italic">Food</span>
                    From<span class="text-success">The best Resturants..</span></h2>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-seedling text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fresh food</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-wheat-awn text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Healthy Meal</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-person-biking text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fast Delivery</span>
                <p class="p-5 fw-bold fst-italic ">We promise that we will deliver your order in max 30 Min!!</p>
            </div>
           
          
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 mb-3">
            <h2 class="text-dark fst-italic">Today`s Speical</h2>
            <div id="todayspeical" class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded  card dishcard">
                        <img class="card-img-top h-75" src="https://eu.ooni.com/cdn/shop/articles/20220211142754-margherita-9920.jpg?crop=center&height=800&v=1644590277&width=800" alt="Dish" />
                         <div class="card-body">
                             <h2 class="card-title fw-bold">Pizza</h2>
                             <span class="card-text fst-italic fw-bold text-danger">Do not Wait just order the best pizza you can ever have.</span>
                         </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded  card dishcard">
                        <img class="card-img-top h-75" src="https://www.bakerycity.com/wp-content/uploads/2020/06/david-holifield-kPxsqUGneXQ-unsplash.jpg" alt="Dish" />
                        <div class="card-body">
                            <h2 class="card-title fw-bold">Cake</h2>
                            <span class="card-text fst-italic fw-bold text-success">Do not Wait just order the best Cake you can ever have.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded card dishcard">
                        <img class="card-img-top h-75" src="https://th.bing.com/th/id/R.f0e601573d2e900373d7edb566022193?rik=tavB6JEAn3WvCw&riu=http%3a%2f%2f2.bp.blogspot.com%2f-swesfwQN5HQ%2fVPdQ-CCcg1I%2fAAAAAAAAA2E%2fsDxeH4J_6lo%2fs1600%2fcoffee-1.jpg&ehk=2JmzjLRFxhykggu5OOH1gqhV8ktFkMY5ATo5hL6MdqM%3d&risl=&pid=ImgRaw&r=0" alt="Dish" />
                        <div class="card-body">
                            <h2 class="card-title fw-bold">Coffe-latte</h2>
                            <span class="card-text fst-italic fw-bold text-black">Do not Wait just order the best Coffie-latte you can ever have.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>